services:
  # The API Service
  api:
    build:
      context: . 
      dockerfile: api.Dockerfile 
    ports:
      - "8080:8080" # Map host port 8080 to container port 8080
    env_file:
      - .env # Load environment variables from .env file
    restart: unless-stopped

  worker:
    build:
      context: .
      dockerfile: worker.Dockerfile
    env_file:
      - .env
    depends_on:
      - api 
    restart: unless-stopped
