services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    command: ./api
    ports:
      - "8080:8080"
    environment:
      - DATABASE_URL=postgres://user:password@db:5432/job_queue?sslmode=disable
      - REDIS_URL=redis:6379
      - REDIS_PASSWORD=
      - S3_ENDPOINT_URL=http://minio:9000
      - S3_REGION=us-east-1
      - S3_ACCESS_KEY=minioadmin
      - S3_SECRET_KEY=minioadmin
      - S3_BUCKET_NAME=resumes
    depends_on:
      db: 
        condition: service_healthy
      redis:
        condition: service_started
      minio:
        condition: service_started
      createbuckets:
          condition: service_completed_successfully

  worker:
    build:
      context: .
      dockerfile: Dockerfile
    command: ./worker
    environment:
      - DATABASE_URL=postgres://user:password@db:5432/job_queue?sslmode=disable
      - REDIS_URL=redis:6379
      - REDIS_PASSWORD=
      - S3_ENDPOINT_URL=http://minio:9000
      - S3_REGION=us-east-1
      - S3_ACCESS_KEY=minioadmin
      - S3_SECRET_KEY=minioadmin
      - S3_BUCKET_NAME=resumes
    depends_on:
      db: 
        condition: service_healthy
      redis: 
        condition: service_started
      minio:
        condition: service_started

  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: job_queue
    ports:
      - "5432:5432"

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d job_queue"]
      interval: 5s
      timeout: 5s 
      retries: 5
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql 
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  minio:
    image: minio/minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000" 
      - "9001:9001" 
    volumes:
      - minio_data:/data

  createbuckets:
    image: minio/mc
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      until mc alias set local http://minio:9000 minioadmin minioadmin; do echo '...waiting for minio'; sleep 1; done;
      mc mb local/resumes --ignore-existing;
      exit 0;
      "

volumes:
  postgres_data:
  redis_data:
  minio_data:
