name: Go CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-test:
    runs-on: ubuntu-latest
    services:
      docker:
        image: docker:24.0.5-dind
        
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.25.3'  

    - name: Check formatting
      run: |
        if [ -n "$(gofmt -l .)" ]; then
          echo "Code is not formatted. Run 'gofmt -w .'"
          exit 1
        fi

    - name: Set up Docker Compose
      run: |
        docker compose -f docker-compose.test.yaml up -d
        echo "Waiting for services to be ready..."
        sleep 10

    - name: Run tests (including integration)
      env:
        DATABASE_URL: postgres://postgres:password@localhost:5433/testdb?sslmode=disable
        VALKEY_URL: localhost:6380
        VALKEY_PASSWORD: mysecretpassword
        S3_ENDPOINT_URL: http://localhost:9000
        S3_REGION: us-east-1
        S3_ACCESS_KEY: minioadmin
        S3_SECRET_KEY: minioadmin
        S3_BUCKET_NAME: resume-bucket
        INTEGRATION_TEST: true    

      run: go test -v ./...

    - name: Build
      run: go build -v ./...

    # CLEANUP
    - name: Shutdown Docker Compose
      if: always()
      run: docker compose -f docker-compose.test.yaml down

